# wstęp

In [2]:
import pandas as pd
import numpy as np

In [3]:
products = pd.read_csv('http://piotrdomagala.pl/data/WA_Sales_Products_2012-14.csv')
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [4]:
groups_by_country = products.groupby(by='Retailer country')

In [5]:
groups_by_country.mean().head()

<ipython-input-5-d3f25fd4f41b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups_by_country.mean().head()

,Year,Revenue,Quantity,Gross margin
Retailer country,,,,
Australia,2012.859482,29822.638237,545.915689,0.451174
Austria,2012.875971,29354.380023,544.330917,0.450913
Belgium,2012.878976,26134.385420,484.911321,0.448410
Brazil,2012.878954,33170.824647,595.332117,0.448023
Canada,2012.839946,41682.874366,746.098936,0.451011

In [6]:
groups_by_country.sum().head()

<ipython-input-6-3bd29f504113>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups_by_country.sum().head()

,Year,Revenue,Quantity,Gross margin
Retailer country,,,,
Australia,7377130,1.093000e+08,2000781,1641.822415
Austria,7773727,1.133666e+08,2102206,1723.839177
Belgium,7467781,9.695857e+07,1799021,1653.288385
Brazil,6618346,1.090657e+08,1957452,1466.380765
Canada,11922051,2.468877e+08,4419144,2662.767825

In [7]:
groups_by_country.count().head()

,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
Retailer country,,,,,,,,,,
Australia,3665,3665,3665,3665,3665,3665,3665,3665,3665,3639
Austria,3862,3862,3862,3862,3862,3862,3862,3862,3862,3823
Belgium,3710,3710,3710,3710,3710,3710,3710,3710,3710,3687
Brazil,3288,3288,3288,3288,3288,3288,3288,3288,3288,3273
Canada,5923,5923,5923,5923,5923,5923,5923,5923,5923,5904

In [8]:
groups_by_country.min().head()

,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
Retailer country,,,,,,,,,,
Australia,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,-0.389517
Austria,Sales visit,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,4,-0.086616
Belgium,Fax,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,5,-1.476136
Brazil,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,4,-2.085496
Canada,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,-1.373907

In [9]:
groups_by_country.max().head()

,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
Retailer country,,,,,,,,,,
Australia,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,516135.14,20031,0.770476
Austria,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,321202.98,9662,0.770476
Belgium,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,310499.39,13200,0.770476
Brazil,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,352749.39,12157,0.770476
Canada,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,648467.60,27268,0.770476

In [10]:
products.loc[(products['Retailer country'] == 'Australia') &
             (products['Order method type']=='Web') &
             (products['Retailer type'] == 'Warehouse Store') &
             (products['Product line'] == 'Personal Accesories') &
             (products['Product type'] == 'Woods')].head()

In [11]:
# Corrected variable name from 'groups' to 'groups_by_country'
groups_by_country['Revenue'].sum().head()

In [12]:
groups_by_country['Revenue','Quantity'].mean().head()

<ipython-input-12-d181e381883e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  groups_by_country['Revenue','Quantity'].mean().head()

,Revenue,Quantity
Retailer country,,
Australia,29822.638237,545.915689
Austria,29354.380023,544.330917
Belgium,26134.385420,484.911321
Brazil,33170.824647,595.332117
Canada,41682.874366,746.098936

# zadanie

In [13]:
from datetime import datetime
from datetime import timedelta
import time

In [14]:
df = pd.read_csv('./marathon_results_2016.csv', index_col='Bib', usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])
df = df[(df['40K'] != '-') & (df['Half'] != '-')]
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

FileNotFoundError: FileNotFoundError: [Errno 2] No such file or directory: './marathon_results_2016.csv'

In [15]:
df = pd.read_csv('http://piotrdomagala.pl/data/marathon_results_2016.csv', index_col='Bib',
usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])
df = df[(df['40K'] != '-') & (df['Half'] != '-')]
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))

In [16]:
group_city = df.groupby(by="City")
group_city.mean().head()

<ipython-input-16-6216a397a392>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_city.mean().head()

,Age,TotalSeconds,HalfSeconds
City,,,
0851 Oslo,39.0,11724.0,5731.0
20832,35.0,11640.0,5757.0
34-120 Andrychow,43.5,14111.0,6699.5
5700 Svendborg,58.0,13498.0,6552.0
95630,46.0,13043.0,6625.0

In [17]:
group_city[["TotalSeconds","HalfSeconds"]].mean().head()

,TotalSeconds,HalfSeconds
City,,
0851 Oslo,11724.0,5731.0
20832,11640.0,5757.0
34-120 Andrychow,14111.0,6699.5
5700 Svendborg,13498.0,6552.0
95630,13043.0,6625.0

In [18]:
group_city["TotalSeconds"].sum().head()

In [19]:
group_age = df.groupby('Age')
group_city.mean().head()

<ipython-input-19-0e64bf8a85b8>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group_city.mean().head()

,Age,TotalSeconds,HalfSeconds
City,,,
0851 Oslo,39.0,11724.0,5731.0
20832,35.0,11640.0,5757.0
34-120 Andrychow,43.5,14111.0,6699.5
5700 Svendborg,58.0,13498.0,6552.0
95630,46.0,13043.0,6625.0

In [20]:
group_age.count().head()

,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Age,,,,,,,,,
18,22,22,22,22,22,22,22,22,22
19,41,41,41,41,41,41,41,41,41
20,84,84,82,84,84,84,84,84,84
21,159,159,155,159,159,159,159,159,159
22,226,226,222,226,226,226,226,226,226

In [21]:
group_age["TotalSeconds"].count().head()