# Wstęp

In [1]:
import pandas as pd
import numpy as np

In [2]:
products = pd.read_csv('http://piotrdomagala.pl/data/WA_Sales_Products_2012-14.csv')
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [3]:
groups = products.groupby(by=['Retailer country','Year'])

In [4]:
groups['Revenue'].sum().head()

In [5]:
groups['Quantity'].sum().head()

In [6]:
groups['Gross margin'].mean().head()

In [7]:
groups.Revenue.sum().head()

In [8]:
groups.agg({'Revenue':'sum'}).head()

In [9]:
groups.agg({'Gross margin':'mean'}).head()

In [10]:
groups.agg({'Revenue':'sum',
            'Quantity':'sum',
            'Gross margin':'mean'}).head(10)

# agg pozwala zagregować wartości dla wielu kolumn, wykorzystując różne funkcje

In [11]:
my_aggregation = ['sum','min','max']

In [12]:
groups.agg({'Revenue':my_aggregation,
            'Quantity':my_aggregation,
            'Gross margin':'mean'}).head(10)

# dzięki zastosowaniu listy można agregować wartości w kolumnach z pomocą wielu funkcji agregujących

# Zadanie

In [13]:
from datetime import datetime
from datetime import timedelta
import time

In [14]:
df = pd.read_csv('http://piotrdomagala.pl/data/marathon_results_2016.csv', index_col='Bib', usecols=['Bib','40K','Half','Pace','Age','M/F','Country','State','City'])
df = df[(df['40K'] != '-') & (df['Half'] != '-')]
df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)
df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))
df.head()

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
5,21,M,Addis Ababa,NaN,ETH,0 days 01:06:45,0 days 02:05:59,0:05:04,7559.0,4005.0
1,26,M,Ambo,NaN,ETH,0 days 01:06:46,0 days 02:05:59,0:05:06,7559.0,4006.0
6,31,M,Addis Ababa,NaN,ETH,0 days 01:06:44,0 days 02:06:47,0:05:07,7607.0,4004.0
11,33,M,Kitale,NaN,KEN,0 days 01:06:46,0 days 02:06:47,0:05:07,7607.0,4006.0
14,23,M,Eldoret,NaN,KEN,0 days 01:06:46,0 days 02:08:11,0:05:11,7691.0,4006.0

In [17]:
sex_age = df.groupby(by=['M/F','Age'])
agg_func=['mean','sum','count']
sex_age.agg({'TotalSeconds':agg_func,'HalfSeconds':agg_func})