In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

pok = pd.read_csv("../workspace_files/pokemon.csv", usecols=["Name"]).squeeze()

In [10]:
pok.head()

In [11]:
pok.sort_values().head()

In [12]:
pok.sort_values(ascending=False).head()

In [13]:
pok.head()

In [14]:
cpok = pok.copy()
cpok.sort_values(inplace=True)

In [15]:
cpok.head()

In [16]:
pok.sort_index().head()

In [17]:
pok = pok.sort_index(ascending=False)
pok.head()

In [26]:
# --------------------- ZADANIE ----------------------

import pandas as pd
import numpy as np
import math, matplotlib.pyplot as plt

from zipfile import ZipFile
from io import BytesIO
import urllib.request as urllib2

In [28]:
r = urllib2.urlopen("https://info.stackoverflowsolutions.com/rs/719-EMH-566/images/stack-overflow-developer-survey-2018.zip").read()
file = ZipFile(BytesIO(r))
survey_csv = file.open("survey_results_public.csv")

In [29]:
salary = pd.read_csv(survey_csv, usecols=["Salary"], squeeze=True).dropna()

<ipython-input-29-f44e30ef5a01>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  salary = pd.read_csv(survey_csv, usecols=["Salary"], squeeze=True).dropna()
<ipython-input-29-f44e30ef5a01>:1: DtypeWarning: Columns (52) have mixed types. Specify dtype option on import or set low_memory=False.
  salary = pd.read_csv(survey_csv, usecols=["Salary"], squeeze=True).dropna()

In [30]:
salary.head()

In [31]:
salary.sort_values(ascending=False).head()

In [33]:
salary.sort_index(ascending=False).head()

In [34]:
maxSalaries = salary.sort_values(ascending=False).head(100)
minSalaries = salary.sort_values(ascending=True).head(100)

In [35]:
maxSalaries

In [36]:
minSalaries