In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [3]:
pd.read_csv("../workspace_files/pokemon.csv")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
pd.read_csv("../workspace_files/pokemon.csv", usecols=['Attack']).squeeze()

In [6]:
ser1 = pd.read_csv("../workspace_files/pokemon.csv", usecols=['Attack','#'], index_col='#').squeeze()

In [7]:
ser1[6]

In [8]:
ser1[5]

64

In [9]:
ser1[5:9]

In [10]:
ser1[[1,11,111]]

In [14]:
ser2 = pd.read_csv("../workspace_files/pokemon.csv", usecols=['Name','Attack'], index_col='Name').squeeze()

In [15]:
ser2.head()

In [16]:
ser2['Charmander']

52

In [17]:
ser2['Ivysaur':'Charmander']

In [19]:
ser2[['Ivysaur','Venusaur','Charmander']]

In [23]:
# ---------------------------------- ZADANIE -----------------------------

fortune500 = pd.read_csv("../workspace_files/Fortune 500 2017 - Fortune 500.csv", usecols=['Rank','Title'], index_col='Rank').squeeze()

In [25]:
fortune500.head(10)

In [26]:
fortune500.tail(50)

In [27]:
fortune500 = pd.read_csv("../workspace_files/Fortune 500 2017 - Fortune 500.csv", usecols=['Employees','Title'], index_col='Title').squeeze()

In [28]:
fortune500.head()

In [31]:
fortune500[['IBM', 'Facebook', 'Apple', 'Alphabet']]

In [32]:
fortune500['IBM':'Intel']