# Wstęp

In [1]:
import pandas as pd
import numpy as np

In [2]:
incidents = pd.read_csv('http://piotrdomagala.pl/data/CanadianRailwayCrossingIncidents.csv ')
incidents.set_index(['Region','EventType'], inplace = True)

In [3]:
incidents.sort_index(inplace=True)

In [4]:
incidents.head(10)

In [5]:
incidents.loc[('Alberta','Accidents')]

In [6]:
incidents.loc[('Alberta')]

,Public automated,Public passive,Private,Farm
EventType,,,,
Accidents,3,7,2,0
Fatalities,0,0,0,0
Serious injuries,0,1,2,0

In [7]:
incidents.loc['Alberta']

,Public automated,Public passive,Private,Farm
EventType,,,,
Accidents,3,7,2,0
Fatalities,0,0,0,0
Serious injuries,0,1,2,0

In [8]:
incidents.head()

In [9]:
incidents.iloc[2]

In [10]:
incidents.loc[('Alberta','Accidents')]

In [11]:
incidents.loc[('Alberta','Accidents')].loc['Public passive']

7

In [12]:
incidents.loc[('Alberta','Accidents'),'Public passive']

7

# Zadanie

In [13]:
air = pd.read_csv('http://piotrdomagala.pl/data/Air_Traffic_Passenger_Statistics.csv ')
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [14]:
air.set_index(['Operating Airline','Activity Period','Activity Type Code'], inplace=True)

In [16]:
air.sort_index(inplace=True)

In [17]:
air.loc[('Air France',200507,'Enplaned')]

,,,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Operating Airline,Activity Period,Activity Type Code,,,,,,,,,
Air France,200507,Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [18]:
air.loc[('Air France',200507)]

,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Activity Type Code,,,,,,,,,
Deplaned,AF,Air France,AF,International,Europe,Other,International,A,12050
Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [21]:
air.loc[('Air France')].head()

In [22]:
air.loc[('Air France',200507,'Enplaned'), 'Passenger Count']

In [23]:
air.loc[('Air France',200507,'Deplaned'),'Passenger Count']

In [25]:
air.iloc[20:25]

In [26]:
air.iloc[20:25,8]