# Wstęp

In [1]:
import pandas as pd
import numpy as np

In [2]:
prod_1 = pd.read_csv('/data/workspace_files/products.csv', 
                     usecols=['ProductID','ProductName'],
                     index_col='ProductID')

In [3]:
prod_2 = pd.read_csv('/data/workspace_files/products.csv', 
                     usecols=['ProductID','UnitPrice','UnitsInStock'],
                     index_col='ProductID')

In [4]:
prod_1.head()

,ProductName
ProductID,
1,Chai
2,Chang
3,Aniseed Syrup
4,Chef Anton's Cajun Seasoning
5,Chef Anton's Gumbo Mix

In [5]:
prod_2.head()

,UnitPrice,UnitsInStock
ProductID,,
1,18.00,39
2,19.00,17
3,10.00,13
4,22.00,53
5,21.35,0

In [6]:
prod_1.join(prod_2).head()

,ProductName,UnitPrice,UnitsInStock
ProductID,,,
1,Chai,18.00,39
2,Chang,19.00,17
3,Aniseed Syrup,10.00,13
4,Chef Anton's Cajun Seasoning,22.00,53
5,Chef Anton's Gumbo Mix,21.35,0

In [7]:
categories = pd.read_csv('/data/workspace_files/categories1.csv',
                         usecols=['CategoryID','CategoryName','Description'])
categories.head()

,CategoryID,CategoryName,Description
0,1,Beverages,Soft drinks
1,2,Condiments,Sweet and savory sauces
2,3,Confections,Desserts
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,Breads

In [8]:
products= pd.read_csv('/data/workspace_files/products.csv',
                      usecols=['ProductID','ProductName','UnitPrice','CategoryID'])
products.head()

,ProductID,ProductName,CategoryID,UnitPrice
0,1,Chai,1,18.00
1,2,Chang,1,19.00
2,3,Aniseed Syrup,2,10.00
3,4,Chef Anton's Cajun Seasoning,2,22.00
4,5,Chef Anton's Gumbo Mix,2,21.35

In [9]:
categories.set_index('CategoryID',inplace=True)
categories.head()

,CategoryName,Description
CategoryID,,
1,Beverages,Soft drinks
2,Condiments,Sweet and savory sauces
3,Confections,Desserts
4,Dairy Products,Cheeses
5,Grains/Cereals,Breads

In [10]:
products.join(other=categories, on='CategoryID')

,ProductID,ProductName,CategoryID,UnitPrice,CategoryName,Description
0,1,Chai,1,18.00,Beverages,Soft drinks
1,2,Chang,1,19.00,Beverages,Soft drinks
2,3,Aniseed Syrup,2,10.00,Condiments,Sweet and savory sauces
3,4,Chef Anton's Cajun Seasoning,2,22.00,Condiments,Sweet and savory sauces
4,5,Chef Anton's Gumbo Mix,2,21.35,Condiments,Sweet and savory sauces
...,...,...,...,...,...,...
72,73,Röd Kaviar,8,15.00,Seafood,Seaweed and fish
73,74,Longlife Tofu,7,10.00,Produce,Dried fruit and bean curd
74,75,Rhönbräu Klosterbier,1,7.75,Beverages,Soft drinks
75,76,Lakkalikööri,1,18.00,Beverages,Soft drinks
76,77,Original Frankfurter grüne Soße,2,13.00,Condiments,Sweet and savory sauces

# Zadanie

In [11]:
customer_names = pd.read_csv('/data/workspace_files/customers.csv', 
                             usecols=['CustomerID','CompanyName'])
customer_names.head()

,CustomerID,CompanyName
0,ALFKI,Alfreds Futterkiste
1,ANATR,Ana Trujillo Emparedados y helados
2,ANTON,Antonio Moreno Taquer?­a
3,AROUT,Around the Horn
4,BERGS,Berglunds snabbk?¶p

In [12]:
customer_cities = pd.read_csv('/data/workspace_files/customers.csv', 
                             usecols=['CustomerID','City','Country'])
customer_cities.head()

,CustomerID,City,Country
0,ALFKI,Berlin,Germany
1,ANATR,M?©xico D.F.,Mexico
2,ANTON,M?©xico D.F.,Mexico
3,AROUT,London,UK
4,BERGS,Lule??,Sweden

In [13]:
len(customer_names)

91

In [14]:
len(customer_cities)

91

In [15]:
customer_cities.set_index('CustomerID',inplace=True)
customer_names.set_index('CustomerID',inplace=True)

In [16]:
customer_names.head()

,CompanyName
CustomerID,
ALFKI,Alfreds Futterkiste
ANATR,Ana Trujillo Emparedados y helados
ANTON,Antonio Moreno Taquer?­a
AROUT,Around the Horn
BERGS,Berglunds snabbk?¶p

In [17]:
customer_cities.head()

,City,Country
CustomerID,,
ALFKI,Berlin,Germany
ANATR,M?©xico D.F.,Mexico
ANTON,M?©xico D.F.,Mexico
AROUT,London,UK
BERGS,Lule??,Sweden

In [18]:
customer_names.join(customer_cities,on='CustomerID')

,CompanyName,City,Country
CustomerID,,,
ALFKI,Alfreds Futterkiste,Berlin,Germany
ANATR,Ana Trujillo Emparedados y helados,M?©xico D.F.,Mexico
ANTON,Antonio Moreno Taquer?­a,M?©xico D.F.,Mexico
AROUT,Around the Horn,London,UK
BERGS,Berglunds snabbk?¶p,Lule??,Sweden
...,...,...,...
WARTH,Wartian Herkku,Oulu,Finland
WELLI,Wellington Importadora,Resende,Brazil
WHITC,White Clover Markets,Seattle,USA
WILMK,Wilman Kala,Helsinki,Finland
WOLZA,Wolski Zajazd,Warszawa,Poland

In [19]:
customer_names.reset_index(inplace=True)

In [20]:
customer_names.join(customer_cities, on='CustomerID').head()

,CustomerID,CompanyName,City,Country
0,ALFKI,Alfreds Futterkiste,Berlin,Germany
1,ANATR,Ana Trujillo Emparedados y helados,M?©xico D.F.,Mexico
2,ANTON,Antonio Moreno Taquer?­a,M?©xico D.F.,Mexico
3,AROUT,Around the Horn,London,UK
4,BERGS,Berglunds snabbk?¶p,Lule??,Sweden

In [21]:
len(customer_names.join(customer_cities, on='CustomerID'))

91