# Wstęp

In [1]:
import pandas as pd
import numpy as np

In [2]:
products = pd.read_csv('/data/workspace_files/products.csv', usecols=['ProductID','ProductName'])
products.head()

,ProductID,ProductName
0,1,Chai
1,2,Chang
2,3,Aniseed Syrup
3,4,Chef Anton's Cajun Seasoning
4,5,Chef Anton's Gumbo Mix

In [3]:
orderedProducts = pd.read_csv('/data/workspace_files/order-details_del.csv',
                              usecols=['OrderID','ProductID','UnitPrice','Quantity'])
orderedProducts.head()

,OrderID,ProductID,UnitPrice,Quantity
0,10331,54,5.9,15
1,10332,18,50.0,40
2,10332,42,11.2,10
3,10332,47,7.6,16
4,10333,14,18.6,10

# **ZADANIE** 
Tworzymy listę produktów, których nie udało się do tej pory sprzedać

In [6]:
merged = products.merge(right=orderedProducts, on='ProductID', how='outer', indicator=True)
merged.head()

,ProductID,ProductName,OrderID,UnitPrice,Quantity,_merge
0,1,Chai,10348.0,14.4,15.0,both
1,1,Chai,10354.0,14.4,12.0,both
2,1,Chai,10370.0,14.4,15.0,both
3,1,Chai,10406.0,14.4,10.0,both
4,1,Chai,10413.0,14.4,24.0,both

In [7]:
merged['_merge'].value_counts()

In [8]:
# Wyświetlamy wyniki. Produkty znajdujące się w tabeli Products, których nie ma w tabeli z zamówieniami
filter = merged['_merge'] == 'left_only'
merged[filter]

,ProductID,ProductName,OrderID,UnitPrice,Quantity,_merge
16,6,Grandma's Boysenberry Spread,NaN,NaN,NaN,left_only
38,15,Genen Shouyu,NaN,NaN,NaN,left_only
85,27,Schoggi Schokolade,NaN,NaN,NaN,left_only
242,66,Louisiana Hot Spiced Okra,NaN,NaN,NaN,left_only
243,67,Laughing Lumberjack Lager,NaN,NaN,NaN,left_only

# Zadanie

In [9]:
suppliers = pd.read_csv('/data/workspace_files/suppliers_del_1.csv',
                        usecols=['SupplierID', 'CompanyName', 'City'])
suppliers.head()

,SupplierID,CompanyName,City
0,1,Exotic Liquids,London
1,2,New Orleans Cajun Delights,New Orleans
2,3,Grandma Kelly's Homestead,Ann Arbor
3,4,Tokyo Traders,Tokyo
4,5,Cooperativa de Quesos 'Las Cabras',Oviedo

In [10]:
products = pd.read_csv('/data/workspace_files/products_del_1.csv',
                       usecols=['ProductID','ProductName','SupplierID'])
products.head()

,ProductID,ProductName,SupplierID
0,1,Chai,1
1,2,Chang,1
2,3,Aniseed Syrup,1
3,4,Chef Anton's Cajun Seasoning,2
4,5,Chef Anton's Gumbo Mix,2

In [12]:
prod_and_sup = products.merge(suppliers,how='inner', on='SupplierID')
prod_and_sup.head()

,ProductID,ProductName,SupplierID,CompanyName,City
0,1,Chai,1,Exotic Liquids,London
1,2,Chang,1,Exotic Liquids,London
2,3,Aniseed Syrup,1,Exotic Liquids,London
3,4,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans
4,5,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans

In [16]:
print(len(suppliers))
print(len(products))
print(len(prod_and_sup))

27
75
70

In [13]:
prod_and_sup_outer = products.merge(suppliers, how='outer', on='SupplierID', indicator=True)
prod_and_sup_outer.head()

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
0,1.0,Chai,1,Exotic Liquids,London,both
1,2.0,Chang,1,Exotic Liquids,London,both
2,3.0,Aniseed Syrup,1,Exotic Liquids,London,both
3,4.0,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans,both
4,5.0,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans,both

In [18]:
only_left = prod_and_sup_outer[prod_and_sup_outer['_merge'] == 'left_only']
only_left

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
27,22.0,Gustaf's Knäckebröd,9,NaN,NaN,left_only
28,23.0,Tunnbröd,9,NaN,NaN,left_only
48,36.0,Inlagd Sill,17,NaN,NaN,left_only
49,37.0,Gravad lax,17,NaN,NaN,left_only
50,73.0,Röd Kaviar,17,NaN,NaN,left_only

In [15]:
only_right = prod_and_sup_outer[prod_and_sup_outer['_merge'] == 'right_only']
only_right

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
75,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only