# Wstęp

In [1]:
import pandas as pd
import numpy as np

In [4]:
products = pd.read_csv('/data/workspace_files/products.csv', 
                       usecols=['ProductID','ProductName'])
products.head()

,ProductID,ProductName
0,1,Chai
1,2,Chang
2,3,Aniseed Syrup
3,4,Chef Anton's Cajun Seasoning
4,5,Chef Anton's Gumbo Mix

In [3]:
orderedProducts = pd.read_csv('/data/workspace_files/order-details_del.csv',
                              usecols=['OrderID','ProductID','UnitPrice','Quantity'])
orderedProducts.head()

,OrderID,ProductID,UnitPrice,Quantity
0,10331,54,5.9,15
1,10332,18,50.0,40
2,10332,42,11.2,10
3,10332,47,7.6,16
4,10333,14,18.6,10

In [5]:
merged = products.merge(right=orderedProducts, on='ProductID', how='left', indicator=True)
merged.head()

,ProductID,ProductName,OrderID,UnitPrice,Quantity,_merge
0,1,Chai,10348.0,14.4,15.0,both
1,1,Chai,10354.0,14.4,12.0,both
2,1,Chai,10370.0,14.4,15.0,both
3,1,Chai,10406.0,14.4,10.0,both
4,1,Chai,10413.0,14.4,24.0,both

In [6]:
merged['_merge'].value_counts()

In [7]:
merged = products.merge(right=orderedProducts, on='ProductID', how='right', indicator=True)
merged.head()

,ProductID,ProductName,OrderID,UnitPrice,Quantity,_merge
0,54,Tourtière,10331,5.9,15,both
1,18,Carnarvon Tigers,10332,50.0,40,both
2,42,Singaporean Hokkien Fried Mee,10332,11.2,10,both
3,47,Zaanse koeken,10332,7.6,16,both
4,14,Tofu,10333,18.6,10,both

In [8]:
merged['_merge'].value_counts()

In [9]:
merged = orderedProducts.merge(right=products, on='ProductID', how='right', indicator=True)
merged.head()

,OrderID,ProductID,UnitPrice,Quantity,ProductName,_merge
0,10348.0,1,14.4,15.0,Chai,both
1,10354.0,1,14.4,12.0,Chai,both
2,10370.0,1,14.4,15.0,Chai,both
3,10406.0,1,14.4,10.0,Chai,both
4,10413.0,1,14.4,24.0,Chai,both

In [10]:
merged['_merge'].value_counts()

Rozwiązujemy zadanie z poprzedniego rozdziału z wykorzystaniem parametru right

In [11]:
filter = merged['_merge'] =='right_only'
merged[filter]

,OrderID,ProductID,UnitPrice,Quantity,ProductName,_merge
16,NaN,6,NaN,NaN,Grandma's Boysenberry Spread,right_only
38,NaN,15,NaN,NaN,Genen Shouyu,right_only
85,NaN,27,NaN,NaN,Schoggi Schokolade,right_only
242,NaN,66,NaN,NaN,Louisiana Hot Spiced Okra,right_only
243,NaN,67,NaN,NaN,Laughing Lumberjack Lager,right_only

# Zadanie

In [13]:
suppliers = pd.read_csv('/data/workspace_files/suppliers.csv',
                        usecols=['SupplierID','CompanyName','City'])
suppliers.head()

,SupplierID,CompanyName,City
0,1,Exotic Liquids,London
1,2,New Orleans Cajun Delights,New Orleans
2,3,Grandma Kelly's Homestead,Ann Arbor
3,4,Tokyo Traders,Tokyo
4,5,Cooperativa de Quesos 'Las Cabras',Oviedo

In [14]:
products = pd.read_csv('/data/workspace_files/products_del_2.csv',
                       usecols=['ProductID','ProductName','SupplierID'])
products.head()

,ProductID,ProductName,SupplierID
0,1,Chai,1
1,2,Chang,1
2,6,Grandma's Boysenberry Spread,3
3,7,Uncle Bob's Organic Dried Pears,3
4,8,Northwoods Cranberry Sauce,3

# Zadanie
Należy odnaleźć tych dostawców z suppliers, którzy nie dostarczają żadnych produktów.

In [18]:
sup_prod = suppliers.merge(products, on='SupplierID', how='inner',indicator=True)
sup_prod.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1,Chai,both
1,1,Exotic Liquids,London,2,Chang,both
2,3,Grandma Kelly's Homestead,Ann Arbor,6,Grandma's Boysenberry Spread,both
3,3,Grandma Kelly's Homestead,Ann Arbor,7,Uncle Bob's Organic Dried Pears,both
4,3,Grandma Kelly's Homestead,Ann Arbor,8,Northwoods Cranberry Sauce,both

In [19]:
print(len(suppliers),len(products),len(sup_prod))

29 68 68

In [21]:
sup_prod_left = suppliers.merge(products, on='SupplierID', how='left',indicator=True)
len(sup_prod_left)

70

In [22]:
sup_prod_left.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1.0,Chai,both
1,1,Exotic Liquids,London,2.0,Chang,both
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
3,3,Grandma Kelly's Homestead,Ann Arbor,6.0,Grandma's Boysenberry Spread,both
4,3,Grandma Kelly's Homestead,Ann Arbor,7.0,Uncle Bob's Organic Dried Pears,both

In [24]:
filter = sup_prod_left['_merge'] == 'left_only'
sup_prod_left[filter]

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only

## Wersja alternatywna z right_join

In [28]:
sup_prod_right = products.merge(suppliers, on='SupplierID', how='right',indicator=True)
len(sup_prod_right)

70

In [27]:
filter = sup_prod_right['_merge'] == 'right_only'
sup_prod_right[filter]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
2,NaN,NaN,2,New Orleans Cajun Delights,New Orleans,right_only
67,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only