# Wstęp

In [1]:
import pandas as pd
import numpy as np

In [2]:
products = pd.read_csv('/data/workspace_files/products.csv',
                       usecols=['ProductID', 'ProductName','CategoryID','UnitPrice'])
products.head()

,ProductID,ProductName,CategoryID,UnitPrice
0,1,Chai,1,18.00
1,2,Chang,1,19.00
2,3,Aniseed Syrup,2,10.00
3,4,Chef Anton's Cajun Seasoning,2,22.00
4,5,Chef Anton's Gumbo Mix,2,21.35

In [3]:
categories = pd.read_csv('/data/workspace_files/categories1.csv',
                       usecols=['CategoryID', 'CategoryName','Description'])
categories.head()

,CategoryID,CategoryName,Description
0,1,Beverages,Soft drinks
1,2,Condiments,Sweet and savory sauces
2,3,Confections,Desserts
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,Breads

In [4]:
products.merge(right=categories, on='CategoryID').head()

,ProductID,ProductName,CategoryID,UnitPrice,CategoryName,Description
0,1,Chai,1,18.0,Beverages,Soft drinks
1,2,Chang,1,19.0,Beverages,Soft drinks
2,24,Guaraná Fantástica,1,4.5,Beverages,Soft drinks
3,34,Sasquatch Ale,1,14.0,Beverages,Soft drinks
4,35,Steeleye Stout,1,18.0,Beverages,Soft drinks

In [5]:
categories.rename({'CategoryID' : 'ID'}, axis='columns', inplace=True)

In [6]:
categories.head()

,ID,CategoryName,Description
0,1,Beverages,Soft drinks
1,2,Condiments,Sweet and savory sauces
2,3,Confections,Desserts
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,Breads

In [7]:
# Celowo wywołujemy błąd. Zmiana wartości parametru on='ID' nie pomoże.

In [8]:
products.merge(right=categories, on='CategoryID').head()

KeyError: KeyError: 'CategoryID'

In [9]:
products.merge(right=categories, left_on='CategoryID', right_on='ID').head()

# Parametry left_on oraz right_on pozwalają na łączenie tabel, w których te same indeksy są nazwane inaczej

,ProductID,ProductName,CategoryID,UnitPrice,ID,CategoryName,Description
0,1,Chai,1,18.0,1,Beverages,Soft drinks
1,2,Chang,1,19.0,1,Beverages,Soft drinks
2,24,Guaraná Fantástica,1,4.5,1,Beverages,Soft drinks
3,34,Sasquatch Ale,1,14.0,1,Beverages,Soft drinks
4,35,Steeleye Stout,1,18.0,1,Beverages,Soft drinks

In [10]:
products.rename({'ProductName':'Name'}, axis='columns', inplace=True)

In [11]:
categories.rename({'CategoryName':'Name'}, axis='columns', inplace=True)

In [12]:
products.head()

,ProductID,Name,CategoryID,UnitPrice
0,1,Chai,1,18.00
1,2,Chang,1,19.00
2,3,Aniseed Syrup,2,10.00
3,4,Chef Anton's Cajun Seasoning,2,22.00
4,5,Chef Anton's Gumbo Mix,2,21.35

In [13]:
categories.head()

,ID,Name,Description
0,1,Beverages,Soft drinks
1,2,Condiments,Sweet and savory sauces
2,3,Confections,Desserts
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,Breads

In [14]:
products.merge(right=categories, left_on='CategoryID', right_on='ID', suffixes=['_prod','_cat'], sort=True)

# W sytuacji, kiedy w łączonych tabelach występują kolumny o tych samych nazwach, stosujemy parametr suffixes

,ProductID,Name_prod,CategoryID,UnitPrice,ID,Name_cat,Description
0,1,Chai,1,18.00,1,Beverages,Soft drinks
1,2,Chang,1,19.00,1,Beverages,Soft drinks
2,24,Guaraná Fantástica,1,4.50,1,Beverages,Soft drinks
3,34,Sasquatch Ale,1,14.00,1,Beverages,Soft drinks
4,35,Steeleye Stout,1,18.00,1,Beverages,Soft drinks
...,...,...,...,...,...,...,...
72,41,Jack's New England Clam Chowder,8,9.65,8,Seafood,Seaweed and fish
73,45,Rogede sild,8,9.50,8,Seafood,Seaweed and fish
74,46,Spegesild,8,12.00,8,Seafood,Seaweed and fish
75,58,Escargots de Bourgogne,8,13.25,8,Seafood,Seaweed and fish
76,73,Röd Kaviar,8,15.00,8,Seafood,Seaweed and fish

In [15]:
categories.head()

,ID,Name,Description
0,1,Beverages,Soft drinks
1,2,Condiments,Sweet and savory sauces
2,3,Confections,Desserts
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,Breads

In [16]:
categories.set_index('ID', inplace=True)
categories.head()

,Name,Description
ID,,
1,Beverages,Soft drinks
2,Condiments,Sweet and savory sauces
3,Confections,Desserts
4,Dairy Products,Cheeses
5,Grains/Cereals,Breads

In [17]:
products.merge(right=categories, left_on='CategoryID', right_index=True, suffixes=['_prod','_cat'], sort=True)

# jeżeli złączenie następuje po indeksie z jednej ze stron to korzystamy z parametrów left_index albo right_index
# parametr 'sort' umożliwia sortowanie złączonych tabel

,ProductID,Name_prod,CategoryID,UnitPrice,Name_cat,Description
0,1,Chai,1,18.00,Beverages,Soft drinks
1,2,Chang,1,19.00,Beverages,Soft drinks
23,24,Guaraná Fantástica,1,4.50,Beverages,Soft drinks
33,34,Sasquatch Ale,1,14.00,Beverages,Soft drinks
34,35,Steeleye Stout,1,18.00,Beverages,Soft drinks
...,...,...,...,...,...,...
40,41,Jack's New England Clam Chowder,8,9.65,Seafood,Seaweed and fish
44,45,Rogede sild,8,9.50,Seafood,Seaweed and fish
45,46,Spegesild,8,12.00,Seafood,Seaweed and fish
57,58,Escargots de Bourgogne,8,13.25,Seafood,Seaweed and fish
72,73,Röd Kaviar,8,15.00,Seafood,Seaweed and fish

# Zadanie

In [18]:
suppliers = pd.read_csv('/data/workspace_files/suppliers.csv',
                        usecols=['SupplierID','CompanyName','City'])
suppliers.head()

,SupplierID,CompanyName,City
0,1,Exotic Liquids,London
1,2,New Orleans Cajun Delights,New Orleans
2,3,Grandma Kelly's Homestead,Ann Arbor
3,4,Tokyo Traders,Tokyo
4,5,Cooperativa de Quesos 'Las Cabras',Oviedo

In [19]:
products = pd.read_csv('/data/workspace_files/products.csv',
                       usecols=['ProductID','ProductName','SupplierID'])
products.head()

,ProductID,ProductName,SupplierID
0,1,Chai,1
1,2,Chang,1
2,3,Aniseed Syrup,1
3,4,Chef Anton's Cajun Seasoning,2
4,5,Chef Anton's Gumbo Mix,2

In [21]:
sup_prod = suppliers.merge(products, on='SupplierID')
sup_prod.head()

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
1,1,Exotic Liquids,London,2,Chang
2,1,Exotic Liquids,London,3,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
4,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix

In [24]:
products.set_index('SupplierID',inplace=True)
products.head()

,ProductID,ProductName
SupplierID,,
1,1,Chai
1,2,Chang
1,3,Aniseed Syrup
2,4,Chef Anton's Cajun Seasoning
2,5,Chef Anton's Gumbo Mix

In [26]:
# -*- coding: utf-8 -*-
# suppliers.set_index("SupplierID", inplace=True)

In [28]:
sup_prod = suppliers.join(products)
sup_prod.head()

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,1,Chai
1,Exotic Liquids,London,2,Chang
1,Exotic Liquids,London,3,Aniseed Syrup
2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix

In [29]:
sup_prod = suppliers.merge(products, left_on="SupplierID", right_index=True)
sup_prod.head()

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,1,Chai
1,Exotic Liquids,London,2,Chang
1,Exotic Liquids,London,3,Aniseed Syrup
2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix

In [30]:
products.reset_index(inplace=True)

In [31]:
products.rename({'SupplierID':'supplier_id'}, axis=1, inplace=True)

In [33]:
sup_prod = suppliers.merge(products, left_on="SupplierID", right_on="supplier_id")
sup_prod.head()

,CompanyName,City,supplier_id,ProductID,ProductName
0,Exotic Liquids,London,1,1,Chai
1,Exotic Liquids,London,1,2,Chang
2,Exotic Liquids,London,1,3,Aniseed Syrup
3,New Orleans Cajun Delights,New Orleans,2,4,Chef Anton's Cajun Seasoning
4,New Orleans Cajun Delights,New Orleans,2,5,Chef Anton's Gumbo Mix