# Wstęp

In [1]:
import pandas as pd
import numpy as np

In [2]:
animals = pd.read_csv('http://piotrdomagala.pl/data/mammals.csv')

In [3]:
animals.head()

,name,body,brain
0,Arctic fox,3.385,44.5
1,Owl monkey,0.480,15.5
2,Mountain beaver,1.350,8.1
3,Cow,465.000,423.0
4,Grey wolf,36.330,119.5

In [4]:
animals.columns

Index(['name', 'body', 'brain'], dtype='object')

In [5]:
animals.columns = ['name','bodyKg','brainKg']

In [6]:
animals.head()

,name,bodyKg,brainKg
0,Arctic fox,3.385,44.5
1,Owl monkey,0.480,15.5
2,Mountain beaver,1.350,8.1
3,Cow,465.000,423.0
4,Grey wolf,36.330,119.5

In [7]:
newColumnNames = {'bodyKg':'body_kg', 'brainKg':'brain_kg'}

In [8]:
animals.rename(columns=newColumnNames, inplace=True)
animals.head()

,name,body_kg,brain_kg
0,Arctic fox,3.385,44.5
1,Owl monkey,0.480,15.5
2,Mountain beaver,1.350,8.1
3,Cow,465.000,423.0
4,Grey wolf,36.330,119.5

In [9]:
animals2 = pd.read_csv('http://piotrdomagala.pl/data/mammals.csv',
                       index_col='name')

In [10]:
animals2.head()

,body,brain
name,,
Arctic fox,3.385,44.5
Owl monkey,0.480,15.5
Mountain beaver,1.350,8.1
Cow,465.000,423.0
Grey wolf,36.330,119.5

In [11]:
animals2.rename(index={'Cow':'Land cow'}, inplace=True)

In [12]:
animals2.head()

,body,brain
name,,
Arctic fox,3.385,44.5
Owl monkey,0.480,15.5
Mountain beaver,1.350,8.1
Land cow,465.000,423.0
Grey wolf,36.330,119.5

In [13]:
animals2Copy = animals2

In [14]:
animals2Copy.loc['Arctic fox','body'] = 5

In [15]:
animals2Copy.head()

,body,brain
name,,
Arctic fox,5.00,44.5
Owl monkey,0.48,15.5
Mountain beaver,1.35,8.1
Land cow,465.00,423.0
Grey wolf,36.33,119.5

In [16]:
animals2.head()

,body,brain
name,,
Arctic fox,5.00,44.5
Owl monkey,0.48,15.5
Mountain beaver,1.35,8.1
Land cow,465.00,423.0
Grey wolf,36.33,119.5

In [17]:
animals2Copy = animals2.copy()

In [18]:
animals2Copy.loc['Grey wolf','body'] = 40

In [19]:
animals2Copy.head()

,body,brain
name,,
Arctic fox,5.00,44.5
Owl monkey,0.48,15.5
Mountain beaver,1.35,8.1
Land cow,465.00,423.0
Grey wolf,40.00,119.5

In [20]:
animals2.head()

,body,brain
name,,
Arctic fox,5.00,44.5
Owl monkey,0.48,15.5
Mountain beaver,1.35,8.1
Land cow,465.00,423.0
Grey wolf,36.33,119.5

# Zadanie

In [23]:
import pandas as pd
import numpy as np

In [25]:
professions = pd.read_csv('http://piotrdomagala.pl/data/Prestige.csv',
                          index_col='name')
professions.head()

,education,income,women,prestige,census,type
name,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof
general.managers,12.26,25879,4.02,69.1,1130,prof
accountants,12.77,9271,15.70,63.4,1171,prof
purchasing.officers,11.42,8865,9.11,56.8,1175,prof
chemists,14.62,8403,11.68,73.5,2111,prof

In [26]:
professionsOriginal = professions.copy()

In [28]:
professions.rename(columns={'income':'incomePerYear'}, inplace=True)
professions.head()

,education,incomePerYear,women,prestige,census,type
name,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof
general.managers,12.26,25879,4.02,69.1,1130,prof
accountants,12.77,9271,15.70,63.4,1171,prof
purchasing.officers,11.42,8865,9.11,56.8,1175,prof
chemists,14.62,8403,11.68,73.5,2111,prof

In [29]:
professions.rename(columns={'prestige':'prestigeIndicator', 'women':'womenPercent'}, inplace=True)
professions.head()

,education,incomePerYear,womenPercent,prestigeIndicator,census,type
name,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof
general.managers,12.26,25879,4.02,69.1,1130,prof
accountants,12.77,9271,15.70,63.4,1171,prof
purchasing.officers,11.42,8865,9.11,56.8,1175,prof
chemists,14.62,8403,11.68,73.5,2111,prof

In [30]:
professions.rename(index={'accountants':'bookkeepers', 'general.managers':'managers'}, inplace=True)
professions.head()

,education,incomePerYear,womenPercent,prestigeIndicator,census,type
name,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof
managers,12.26,25879,4.02,69.1,1130,prof
bookkeepers,12.77,9271,15.70,63.4,1171,prof
purchasing.officers,11.42,8865,9.11,56.8,1175,prof
chemists,14.62,8403,11.68,73.5,2111,prof

In [31]:
professionsOriginal.columns

Index(['education', 'income', 'women', 'prestige', 'census', 'type'], dtype='object')

In [32]:
professions.columns

Index(['education', 'incomePerYear', 'womenPercent', 'prestigeIndicator',
       'census', 'type'],
      dtype='object')