# Wstęp

In [2]:
import pandas as pd
import numpy as np

In [3]:
frame = pd.read_csv('http://piotrdomagala.pl/data/mammals.csv')

In [4]:
frame.head()

,name,body,brain
0,Arctic fox,3.385,44.5
1,Owl monkey,0.480,15.5
2,Mountain beaver,1.350,8.1
3,Cow,465.000,423.0
4,Grey wolf,36.330,119.5

In [5]:
frame = pd.read_csv('http://piotrdomagala.pl/data/mammals.csv',
                    index_col='name'
                    )

In [6]:
frame.head()

,body,brain
name,,
Arctic fox,3.385,44.5
Owl monkey,0.480,15.5
Mountain beaver,1.350,8.1
Cow,465.000,423.0
Grey wolf,36.330,119.5

In [8]:
frame.reset_index('name', inplace=True)

In [9]:
frame.head()

,name,body,brain
0,Arctic fox,3.385,44.5
1,Owl monkey,0.480,15.5
2,Mountain beaver,1.350,8.1
3,Cow,465.000,423.0
4,Grey wolf,36.330,119.5

In [10]:
frame.set_index('brain', inplace=True)
frame.head()

,name,body
brain,,
44.5,Arctic fox,3.385
15.5,Owl monkey,0.480
8.1,Mountain beaver,1.350
423.0,Cow,465.000
119.5,Grey wolf,36.330

In [11]:
frame.set_index('name', inplace=True)
frame.head()

,body
name,
Arctic fox,3.385
Owl monkey,0.480
Mountain beaver,1.350
Cow,465.000
Grey wolf,36.330

In [20]:
frame2 = pd.read_csv('http://piotrdomagala.pl/data/mammals.csv',
                    index_col='name'
                    )
frame2.reset_index()
frame2.head()

,body,brain
name,,
Arctic fox,3.385,44.5
Owl monkey,0.480,15.5
Mountain beaver,1.350,8.1
Cow,465.000,423.0
Grey wolf,36.330,119.5

In [19]:
frame2.set_index('brain', inplace=True)
frame2.head()

,body
brain,
44.5,3.385
15.5,0.480
8.1,1.350
423.0,465.000
119.5,36.330

In [17]:
frame2.reset_index()

,brain,body
0,44.5,3.385
1,15.5,0.480
2,8.1,1.350
3,423.0,465.000
4,119.5,36.330
...,...,...
57,169.0,160.000
58,2.6,0.900
59,11.4,1.620
60,2.5,0.104
61,50.4,4.235