# Wstęp

In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.read_csv('http://piotrdomagala.pl/data/PublicTransitExpenses.csv',
                    usecols=['Agency', 'Reporter Type','Total Operating Expenses'])

In [3]:
frame.head()

,Agency,Reporter Type,Total Operating Expenses
0,Washington County Commissioners,Reduced Reporter,$122524.00
1,Washington County Commissioners,Reduced Reporter,$272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,$7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,$37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,$345789.00

In [4]:
frameWashington = frame['Agency'].str.contains('Washington')

In [5]:
frame[frameWashington]

,Agency,Reporter Type,Total Operating Expenses
0,Washington County Commissioners,Reduced Reporter,$122524.00
1,Washington County Commissioners,Reduced Reporter,$272715.00
199,Washington State Ferries,Full Reporter,$16215777.00
213,Washington State Ferries,Full Reporter,$11132493.00
364,Washington State Ferries,Full Reporter,$11750411.00
...,...,...,...
15871,Washington Hancock Community Agency,Rural Reporter,$995395.00
16213,City of Washington,Rural Reporter,$105117.00
16313,City of Washington,Rural Reporter,$102799.00
16316,Washington Parish Council on Aging,Rural Reporter,$546300.00
16780,Washington Parish Council on Aging,Rural Reporter,$550224.00

In [6]:
frame['Agency'] = frame['Agency'].str.lower()
frame.head()

,Agency,Reporter Type,Total Operating Expenses
0,washington county commissioners,Reduced Reporter,$122524.00
1,washington county commissioners,Reduced Reporter,$272715.00
2,"texoma area paratransit system, inc",Full Reporter,$7295.00
3,kalispel tribe of indians,Reduced Reporter,$37416.00
4,kalispel tribe of indians,Reduced Reporter,$345789.00

In [7]:
frame[frame['Agency'].str.contains('washington')]

,Agency,Reporter Type,Total Operating Expenses
0,washington county commissioners,Reduced Reporter,$122524.00
1,washington county commissioners,Reduced Reporter,$272715.00
199,washington state ferries,Full Reporter,$16215777.00
213,washington state ferries,Full Reporter,$11132493.00
364,washington state ferries,Full Reporter,$11750411.00
...,...,...,...
15871,washington hancock community agency,Rural Reporter,$995395.00
16213,city of washington,Rural Reporter,$105117.00
16313,city of washington,Rural Reporter,$102799.00
16316,washington parish council on aging,Rural Reporter,$546300.00
16780,washington parish council on aging,Rural Reporter,$550224.00

In [8]:
frame[frame['Agency'].str.endswith('ferries')]

,Agency,Reporter Type,Total Operating Expenses
199,washington state ferries,Full Reporter,$16215777.00
213,washington state ferries,Full Reporter,$11132493.00
364,washington state ferries,Full Reporter,$11750411.00
397,washington state ferries,Full Reporter,$22400732.00
604,washington state ferries,Full Reporter,$17715787.00
634,washington state ferries,Full Reporter,$236320045.00
653,washington state ferries,Full Reporter,$184425025.00
684,washington state ferries,Full Reporter,$186344635.00
915,washington state ferries,Full Reporter,$236711555.00
1114,washington state ferries,Full Reporter,$23046740.00

In [9]:
endsWithFerries = frame['Agency'].str.lower().str.strip().str.endswith('ferries')
frame[endsWithFerries]

,Agency,Reporter Type,Total Operating Expenses
199,washington state ferries,Full Reporter,$16215777.00
213,washington state ferries,Full Reporter,$11132493.00
364,washington state ferries,Full Reporter,$11750411.00
397,washington state ferries,Full Reporter,$22400732.00
604,washington state ferries,Full Reporter,$17715787.00
634,washington state ferries,Full Reporter,$236320045.00
653,washington state ferries,Full Reporter,$184425025.00
684,washington state ferries,Full Reporter,$186344635.00
915,washington state ferries,Full Reporter,$236711555.00
1114,washington state ferries,Full Reporter,$23046740.00

In [10]:
frame.set_index('Agency', inplace=True)

In [11]:
frame.head()

,Reporter Type,Total Operating Expenses
Agency,,
washington county commissioners,Reduced Reporter,$122524.00
washington county commissioners,Reduced Reporter,$272715.00
"texoma area paratransit system, inc",Full Reporter,$7295.00
kalispel tribe of indians,Reduced Reporter,$37416.00
kalispel tribe of indians,Reduced Reporter,$345789.00

In [12]:
frame.index = frame.index.str.strip().str.upper()
frame.head()

,Reporter Type,Total Operating Expenses
Agency,,
WASHINGTON COUNTY COMMISSIONERS,Reduced Reporter,$122524.00
WASHINGTON COUNTY COMMISSIONERS,Reduced Reporter,$272715.00
"TEXOMA AREA PARATRANSIT SYSTEM, INC",Full Reporter,$7295.00
KALISPEL TRIBE OF INDIANS,Reduced Reporter,$37416.00
KALISPEL TRIBE OF INDIANS,Reduced Reporter,$345789.00

In [13]:
frame['Reporter Type'].value_counts().head()

In [14]:
# frame['Reporter Type'].str.split(' ').head()

In [15]:
# frame['Reporter Type'].str.split(' ').str[0].head()

In [16]:
frame['Reporter Type1','Reporter Type1'].str.split(' ', expand=True).str[0].head()

KeyError: KeyError: ('Reporter Type1', 'Reporter Type1')

In [17]:
frame['Agency2'] = frame.index
frame.head()

,Reporter Type,Total Operating Expenses,Agency2
Agency,,,
WASHINGTON COUNTY COMMISSIONERS,Reduced Reporter,$122524.00,WASHINGTON COUNTY COMMISSIONERS
WASHINGTON COUNTY COMMISSIONERS,Reduced Reporter,$272715.00,WASHINGTON COUNTY COMMISSIONERS
"TEXOMA AREA PARATRANSIT SYSTEM, INC",Full Reporter,$7295.00,"TEXOMA AREA PARATRANSIT SYSTEM, INC"
KALISPEL TRIBE OF INDIANS,Reduced Reporter,$37416.00,KALISPEL TRIBE OF INDIANS
KALISPEL TRIBE OF INDIANS,Reduced Reporter,$345789.00,KALISPEL TRIBE OF INDIANS

In [18]:
frame['Agency2'].str.split(' ', expand=True, n=10).head()

,0,1,2,3,4,5,6,7,8,9,10
Agency,,,,,,,,,,,
WASHINGTON COUNTY COMMISSIONERS,WASHINGTON,COUNTY,COMMISSIONERS,None,None,None,None,None,None,None,None
WASHINGTON COUNTY COMMISSIONERS,WASHINGTON,COUNTY,COMMISSIONERS,None,None,None,None,None,None,None,None
"TEXOMA AREA PARATRANSIT SYSTEM, INC",TEXOMA,AREA,PARATRANSIT,"SYSTEM,",INC,None,None,None,None,None,None
KALISPEL TRIBE OF INDIANS,KALISPEL,TRIBE,OF,INDIANS,None,None,None,None,None,None,None
KALISPEL TRIBE OF INDIANS,KALISPEL,TRIBE,OF,INDIANS,None,None,None,None,None,None,None

In [19]:
def getComment(row):
    reporterType = row['Reporter Type']
    cost = float(row['Total Operating Expenses'].replace('$',''))

    if(cost> 200000):
        comment='CLASS A'
    else:
        comment='CLASS B'
    return (reporterType+'/'+comment)

In [20]:
frame.apply(getComment, axis=1).head()

# Zadanie

In [21]:
fortune = pd.read_csv('http://piotrdomagala.pl/data/Fortune_500_2017.csv',
                    usecols=['Rank', 'Title','Industry', 'Hqlocation','Sector'])

In [26]:
fortune['Sector'] = fortune['Sector'].str.upper()
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR"
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE"
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA"
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX"
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA"

In [28]:
fortuneComp = fortune['Industry'].str.lower().str.contains('comp')
fortune[fortuneComp].head()

,Rank,Title,Sector,Industry,Hqlocation
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA"
27,28,Microsoft,TECHNOLOGY,Computer Software,"Redmond, WA"
40,41,Dell Technologies,TECHNOLOGY,"Computers, Office Equipment","Round Rock, TX"
46,47,Intel,TECHNOLOGY,Semiconductors and Other Electronic Components,"Santa Clara, CA"
60,61,HP,TECHNOLOGY,"Computers, Office Equipment","Palo Alto, CA"

In [29]:
fortune[['City','State']] = fortune["Hqlocation"].str.split(",",expand=True)
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation,City,State
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR",Bentonville,AR
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE",Omaha,NE
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA",Cupertino,CA
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX",Irving,TX
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA",San Francisco,CA

In [30]:
def BuildShortCut(row):
    result = ''
    industry = row['Industry']
    for i in industry.split(' '):
        result += i[0]
    return result

In [31]:
BuildShortCut({'Industry':'Factory Under Newspaper'})

'FUN'

In [33]:
fortune['IndustryShort'] = fortune.apply(BuildShortCut,axis=1)
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation,City,State,IndustryShort
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR",Bentonville,AR,GM
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE",Omaha,NE,IPaC(
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA",Cupertino,CA,COE
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX",Irving,TX,PR
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA",San Francisco,CA,WHC