# Wstęp

In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.read_csv('http://piotrdomagala.pl/data/PublicTransitExpenses.csv',
                    low_memory=False)

In [3]:
frame.head()

,5 digit NTD ID,4 digit NTD ID,Agency,Reporter Type,Subrecipient Type,Organization Type,2015 Total Mode Vehicles (VOMS),Mode,Type of Service,Primary UZA Code,...,Casualty and Liability Costs,Taxes,PT Funds In Report,PT Funds Reported Separately,Miscellaneous Expenses,Reduced Reporter Total OE,Total Operating Expenses,Total Operating Expenses (No Funds Reported Separately),ADA Related Expenses,Location 1
0,30098,3098,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,DR,PT,NaN,...,$0.00,$0.00,$0.00,$0.00,$0.00,$122524.00,$122524.00,$122524.00,$0.00,NaN
1,30098,3098,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,MB,PT,NaN,...,$0.00,$0.00,$0.00,$0.00,$0.00,$272715.00,$272715.00,$272715.00,$0.00,NaN
2,60107,6107,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,NaN,NaN,CB,PT,NaN,...,NaN,NaN,$3398.00,NaN,NaN,NaN,$7295.00,$7295.00,NaN,NaN
3,9,0T09,Kalispel Tribe of Indians,Reduced Reporter,NaN,Tribe,4.0,DR,DO,0.0,...,NaN,NaN,NaN,NaN,NaN,$37416.00,$37416.00,$37416.00,NaN,"Usk, WA\n"
4,9,0T09,Kalispel Tribe of Indians,Reduced Reporter,NaN,Tribe,4.0,MB,DO,0.0,...,NaN,NaN,NaN,NaN,NaN,$345789.00,$345789.00,$345789.00,NaN,"Usk, WA\n"

In [4]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 39 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   5 digit NTD ID                                           17844 non-null  object
 1   4 digit NTD ID                                           17719 non-null  object
 2   Agency                                                   17844 non-null  object
 3   Reporter Type                                            17844 non-null  object
 4   Subrecipient Type                                        3072 non-null   object
 5   Organization Type                                        17759 non-null  object
 6   2015 Total Mode Vehicles (VOMS)                          17522 non-null  float64
 7   Mode                                                     17844 non-null  object
 8   Type of Service                                          17840 non-null  object
 9   Primary UZA Code                                         17712 non-null  float64
 10  Primary UZA Name                                         17705 non-null  object
 11  Primary  UZA Area SQ Miles                               14370 non-null  float64
 12  Primary  UZA Population                                  14370 non-null  float64
 13  Service Area SQ Miles                                    14414 non-null  float64
 14  Service Area Population                                  14418 non-null  float64
 15  Year                                                     17844 non-null  int64
 16  Vehicles Operated at Maximum Service (VOMS)              17836 non-null  float64
 17  Vehicles Available for Maximum Service (VAMS)            13887 non-null  float64
 18  Rail (Y/N)                                               17318 non-null  object
 19  Fixed Route (Y/N)                                        17318 non-null  object
 20  Expense Function                                         17844 non-null  object
 21  Operators' Salaries and Wages                            4920 non-null   object
 22  Other Salaries and Wages                                 10348 non-null  object
 23  Fringe Benefits                                          10425 non-null  object
 24  Service Costs                                            10262 non-null  object
 25  Fuel and Lubricants                                      6515 non-null   object
 26  Tires and Tubes                                          5615 non-null   object
 27  Other Materials and Supplies                             10230 non-null  object
 28  Utilities                                                5999 non-null   object
 29  Casualty and Liability Costs                             6953 non-null   object
 30  Taxes                                                    4680 non-null   object
 31  PT Funds In Report                                       7592 non-null   object
 32  PT Funds Reported Separately                             3555 non-null   object
 33  Miscellaneous Expenses                                   7837 non-null   object
 34  Reduced Reporter Total OE                                7054 non-null   object
 35  Total Operating Expenses                                 17844 non-null  object
 36  Total Operating Expenses (No Funds Reported Separately)  17844 non-null  object
 37  ADA Related Expenses                                     3187 non-null   object
 38  Location 1                                               17712 non-null  object
dtypes: float64(8), int64(1), object(30)
memory usage: 30.5 MB

In [8]:
frame = pd.read_csv('http://piotrdomagala.pl/data/PublicTransitExpenses.csv',
                    usecols=['Agency','Reporter Type','Organization Type', 'Rail (Y/N)',
                             'Fixed Route (Y/N)', 'Service Costs', 'Tires and Tubes','Total Operating Expenses',
                             'Service Area Population'],
                    low_memory=False)

In [9]:
frame.head()

,Agency,Reporter Type,Organization Type,Service Area Population,Rail (Y/N),Fixed Route (Y/N),Service Costs,Tires and Tubes,Total Operating Expenses
0,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,NaN,$0.00,$0.00,$122524.00
1,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,NaN,$0.00,$0.00,$272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,NaN,NaN,NaN,NaN,NaN,$7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,NaN,N,N,NaN,NaN,$37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,NaN,N,Y,NaN,NaN,$345789.00

In [10]:
frame.info(memory_usage='deep') 
# na początku wybieramy tylko niezbędna dla nas dane
# pozwala to znacznie zmniejszyć zużycie pamięci

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Agency                    17844 non-null  object
 1   Reporter Type             17844 non-null  object
 2   Organization Type         17759 non-null  object
 3   Service Area Population   14418 non-null  float64
 4   Rail (Y/N)                17318 non-null  object
 5   Fixed Route (Y/N)         17318 non-null  object
 6   Service Costs             10262 non-null  object
 7   Tires and Tubes           5615 non-null   object
 8   Total Operating Expenses  17844 non-null  object
dtypes: float64(1), object(8)
memory usage: 9.5 MB

In [11]:
newColumnName = {'Agency':'Agency',
                 'Reporter Type':'ReporterType',
                 'Organization Type':'OrgType',
                 'Service Area Population':'Population',
                 'Rail (Y/N)':'IsRail',
                 'Fixed Route (Y/N)':'IsFixedRoute',
                 'Service Costs':'ServiceCost',
                 'Tires and Tubes':'TiresTubeCosts',
                 'Total Operating Expenses':'TotalExpenses'
                 }

In [13]:
frame.rename(columns=newColumnName, inplace=True)
frame.head()
# tworzymy bardziej czytelne nazwy kolumn

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCost,TiresTubeCosts,TotalExpenses
0,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,NaN,$0.00,$0.00,$122524.00
1,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,NaN,$0.00,$0.00,$272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,NaN,NaN,NaN,NaN,NaN,$7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,NaN,N,N,NaN,NaN,$37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,NaN,N,Y,NaN,NaN,$345789.00

In [14]:
frame['ReporterType'].nunique()
# Sprawdzamy poszczególne kolumny zliczając ich unikalne wartości jako kandydatów na zmienne kategorialne

4

In [15]:
frame['ReporterType'].value_counts()

In [18]:
frame['ReporterType'] = frame['ReporterType'].astype('category')
# zmieniamy typ na kategorialny

In [19]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Agency          17844 non-null  object
 1   ReporterType    17844 non-null  category
 2   OrgType         17759 non-null  object
 3   Population      14418 non-null  float64
 4   IsRail          17318 non-null  object
 5   IsFixedRoute    17318 non-null  object
 6   ServiceCost     10262 non-null  object
 7   TiresTubeCosts  5615 non-null   object
 8   TotalExpenses   17844 non-null  object
dtypes: category(1), float64(1), object(7)
memory usage: 8.3 MB

In [20]:
frame['Agency'] = frame['Agency'].astype('category')
frame['OrgType'] = frame['OrgType'].astype('category')

In [21]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Agency          17844 non-null  category
 1   ReporterType    17844 non-null  category
 2   OrgType         17759 non-null  category
 3   Population      14418 non-null  float64
 4   IsRail          17318 non-null  object
 5   IsFixedRoute    17318 non-null  object
 6   ServiceCost     10262 non-null  object
 7   TiresTubeCosts  5615 non-null   object
 8   TotalExpenses   17844 non-null  object
dtypes: category(3), float64(1), object(5)
memory usage: 5.1 MB

In [22]:
# w kolumnie Population występowały wartości NaN, stąd domyślnie zastosowany typ to float
# Wypełniamy zatem wartości puste wartościami 0
frame['Population'].fillna(0,inplace=True)

In [23]:
frame['Population'] = frame['Population'].astype('int')

In [24]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Agency          17844 non-null  category
 1   ReporterType    17844 non-null  category
 2   OrgType         17759 non-null  category
 3   Population      17844 non-null  int64
 4   IsRail          17318 non-null  object
 5   IsFixedRoute    17318 non-null  object
 6   ServiceCost     10262 non-null  object
 7   TiresTubeCosts  5615 non-null   object
 8   TotalExpenses   17844 non-null  object
dtypes: category(3), int64(1), object(5)
memory usage: 5.1 MB

In [26]:
frame['IsRail'].replace(('Y','N'),(True,False),inplace=True)
frame['IsFixedRoute'].replace(('Y','N'),(True,False),inplace=True)
# zamieniamy wartości Y/N na wartości logiczne True oraz False
frame.head()

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCost,TiresTubeCosts,TotalExpenses
0,Washington County Commissioners,Reduced Reporter,NaN,0,NaN,NaN,$0.00,$0.00,$122524.00
1,Washington County Commissioners,Reduced Reporter,NaN,0,NaN,NaN,$0.00,$0.00,$272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,0,NaN,NaN,NaN,NaN,$7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,False,NaN,NaN,$37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,True,NaN,NaN,$345789.00

In [28]:
# typy w kolumnach IsRail oraz IsFixedRoute nadal są wartościami tekstowymi
frame['IsRail'].fillna(False, inplace=True)
frame['IsFixedRoute'].fillna(False, inplace=True)
# uzupełniamy wartości puste

frame['IsRail'] = frame['IsRail'].astype('bool')
frame['IsFixedRoute'] = frame['IsFixedRoute'].astype('bool')
# ustawiamy typ na wartości logiczne

frame.head()

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCost,TiresTubeCosts,TotalExpenses
0,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,$0.00,$0.00,$122524.00
1,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,$0.00,$0.00,$272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,0,False,False,NaN,NaN,$7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,False,NaN,NaN,$37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,True,NaN,NaN,$345789.00

In [29]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Agency          17844 non-null  category
 1   ReporterType    17844 non-null  category
 2   OrgType         17759 non-null  category
 3   Population      17844 non-null  int64
 4   IsRail          17844 non-null  bool
 5   IsFixedRoute    17844 non-null  bool
 6   ServiceCost     10262 non-null  object
 7   TiresTubeCosts  5615 non-null   object
 8   TotalExpenses   17844 non-null  object
dtypes: bool(2), category(3), int64(1), object(3)
memory usage: 3.2 MB

In [31]:
# zmieniamy typ kolumn z wartościami finansowymi na float
# zaczynamy od usunięcia symboli walutowych
frame['ServiceCost'] = frame['ServiceCost'].str.replace('$','')
frame['TiresTubeCosts'] = frame['TiresTubeCosts'].str.replace('$','')
frame['TotalExpenses'] = frame['TotalExpenses'].str.replace('$','')

frame.head()

<ipython-input-31-ac186d25a629>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  frame['ServiceCost'] = frame['ServiceCost'].str.replace('$','')
<ipython-input-31-ac186d25a629>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  frame['TiresTubeCosts'] = frame['TiresTubeCosts'].str.replace('$','')
<ipython-input-31-ac186d25a629>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  frame['TotalExpenses'] = frame['TotalExpenses'].str.replace('$','')

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCost,TiresTubeCosts,TotalExpenses
0,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,0.00,0.00,122524.00
1,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,0.00,0.00,272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,0,False,False,NaN,NaN,7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,False,NaN,NaN,37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,True,NaN,NaN,345789.00

In [32]:
frame['ServiceCost'] = frame['ServiceCost'].astype('float')
frame['TiresTubeCosts'] = frame['TiresTubeCosts'].astype('float')
frame['TotalExpenses'] = frame['TotalExpenses'].astype('float')

frame.head()

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCost,TiresTubeCosts,TotalExpenses
0,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,0.0,0.0,122524.0
1,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,0.0,0.0,272715.0
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,0,False,False,NaN,NaN,7295.0
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,False,NaN,NaN,37416.0
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,True,NaN,NaN,345789.0

In [33]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Agency          17844 non-null  category
 1   ReporterType    17844 non-null  category
 2   OrgType         17759 non-null  category
 3   Population      17844 non-null  int64
 4   IsRail          17844 non-null  bool
 5   IsFixedRoute    17844 non-null  bool
 6   ServiceCost     10262 non-null  float64
 7   TiresTubeCosts  5615 non-null   float64
 8   TotalExpenses   17844 non-null  float64
dtypes: bool(2), category(3), float64(3), int64(1)
memory usage: 916.1 KB

In [35]:
# Zmieniamy sposób zapisu wartości w kolumnach, uwzględniając wielkość znaków (krok opcjonalny)
frame['Agency'] = frame['Agency'].str.title().astype('category')
frame['ReporterType'] = frame['ReporterType'].str.title().astype('category')
frame['OrgType'] = frame['OrgType'].str.title().astype('category')

frame.head()

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCost,TiresTubeCosts,TotalExpenses
0,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,0.0,0.0,122524.0
1,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,0.0,0.0,272715.0
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,0,False,False,NaN,NaN,7295.0
3,Kalispel Tribe Of Indians,Reduced Reporter,Tribe,0,False,False,NaN,NaN,37416.0
4,Kalispel Tribe Of Indians,Reduced Reporter,Tribe,0,False,True,NaN,NaN,345789.0

In [36]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Agency          17844 non-null  category
 1   ReporterType    17844 non-null  category
 2   OrgType         17759 non-null  category
 3   Population      17844 non-null  int64
 4   IsRail          17844 non-null  bool
 5   IsFixedRoute    17844 non-null  bool
 6   ServiceCost     10262 non-null  float64
 7   TiresTubeCosts  5615 non-null   float64
 8   TotalExpenses   17844 non-null  float64
dtypes: bool(2), category(3), float64(3), int64(1)
memory usage: 915.8 KB

# Zadanie

In [39]:
fb = pd.read_csv('http://piotrdomagala.pl/data/mrbean_facebook_statuses_with_nulls.csv',
                    low_memory=False)
fb.head()

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,17774451468_10154154735571469,It's time for Mr Bean and Teddy to get ready f...,Mr Bean - Preparing To Go Camping,video,https://youtu.be/fgURU75gTMQ,2016-06-23 11:35:48,16570.0,223.0,338.0,16079,166,6,320,0,0
1,17774451468_10154146584106469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-21 10:00:01,119886.0,2171.0,1657.0,114008,946,104,4795,16,17
2,17774451468_10154135502911469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-19 10:00:01,NaN,2395.0,10050.0,218579,2988,188,13992,52,53
3,17774451468_10154138120151469,Mr Bean is ready to do some shopping but bewar...,www.youtube.com,video,https://www.youtube.com/watch?v=58Z8J0PbLS8,2016-06-18 11:00:02,20913.0,214.0,257.0,20338,211,20,336,0,8
4,17774451468_10154135502476469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-17 09:00:01,223602.0,880.0,2228.0,215591,2872,259,4814,27,39

In [41]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         56 non-null     object
 1   status_message    40 non-null     object
 2   link_name         56 non-null     object
 3   status_type       56 non-null     object
 4   status_link       56 non-null     object
 5   status_published  56 non-null     object
 6   num_reactions     54 non-null     float64
 7   num_comments      55 non-null     float64
 8   num_shares        56 non-null     float64
 9   num_likes         56 non-null     int64
 10  num_loves         56 non-null     int64
 11  num_wows          56 non-null     int64
 12  num_hahas         56 non-null     int64
 13  num_sads          56 non-null     int64
 14  num_angrys        56 non-null     int64
dtypes: float64(3), int64(6), object(6)
memory usage: 34.4 KB

In [42]:
fb = pd.read_csv('http://piotrdomagala.pl/data/mrbean_facebook_statuses_with_nulls.csv',
                 low_memory=False,
                 usecols=["status_message", "status_type", "link_name","num_reactions", "num_shares", "num_likes"])
fb.head()

,status_message,link_name,status_type,num_reactions,num_shares,num_likes
0,It's time for Mr Bean and Teddy to get ready f...,Mr Bean - Preparing To Go Camping,video,16570.0,338.0,16079
1,NaN,Timeline Photos,photo,119886.0,1657.0,114008
2,NaN,Timeline Photos,photo,NaN,10050.0,218579
3,Mr Bean is ready to do some shopping but bewar...,www.youtube.com,video,20913.0,257.0,20338
4,NaN,Timeline Photos,photo,223602.0,2228.0,215591

In [43]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     object
 2   status_type     56 non-null     object
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: float64(2), int64(1), object(3)
memory usage: 16.1 KB

In [45]:
fb['status_type'].nunique()

3

In [46]:
fb['status_type'].value_counts()

In [47]:
fb['status_type'] = fb['status_type'].astype('category')

In [48]:
fb['link_name'].nunique()

32

In [49]:
fb['link_name'].value_counts()

In [50]:
fb['link_name'] = fb['link_name'].astype('category')

In [51]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     category
 2   status_type     56 non-null     category
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: category(2), float64(2), int64(1), object(1)
memory usage: 12.4 KB

In [54]:
fb['num_reactions'].fillna(0, inplace=True)
fb['num_shares'].fillna(0, inplace=True)

fb.head()

,status_message,link_name,status_type,num_reactions,num_shares,num_likes
0,It's time for Mr Bean and Teddy to get ready f...,Mr Bean - Preparing To Go Camping,video,0,0,16079
1,NaN,Timeline Photos,photo,0,0,114008
2,NaN,Timeline Photos,photo,0,0,218579
3,Mr Bean is ready to do some shopping but bewar...,www.youtube.com,video,0,0,20338
4,NaN,Timeline Photos,photo,0,0,215591

In [55]:
fb["num_reactions"] = fb["num_reactions"].astype('int')
fb["num_shares"] = fb["num_shares"].astype('int')
fb["num_likes"] = fb["num_likes"].astype('int')

In [56]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     category
 2   status_type     56 non-null     category
 3   num_reactions   56 non-null     int64
 4   num_shares      56 non-null     int64
 5   num_likes       56 non-null     int64
dtypes: category(2), int64(3), object(1)
memory usage: 12.4 KB