# Wstęp

In [1]:
import pandas as pd

In [2]:
frame = pd.read_csv('http://piotrdomagala.pl/data/Mcdonalds.csv')

In [3]:
series = pd.read_csv('http://piotrdomagala.pl/data/Mcdonalds.csv', usecols=['Item', 'Calories'], index_col='Item').squeeze()

In [4]:
series.head()

In [5]:
series.count()

260

In [6]:
frame.count() #metoda count dla DF zlicza elementy w każdej kolumnie/serii

In [7]:
len(series)

260

In [8]:
len(frame)

260

In [9]:
series.dtypes

dtype('int64')

In [10]:
frame.dtypes.value_counts() # zliczenie ile jest zmiennych/kolumn/serii damych typów

In [11]:
frame.shape

(260, 24)

In [12]:
frame.axes # oś współrzędnych (właściowość) zawiera informacje o liczbie wierszy frame, ich numeracji 
  # oraz kolumnach jakie zawiera DF

[RangeIndex(start=0, stop=260, step=1),
 Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
        'TotalFat', 'Total Fat (% Daily Value)', 'Saturated Fat',
        'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
        'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
        'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
        'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
        'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
        'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
       dtype='object')]

In [13]:
frame.index # informacja o indeksach DF

RangeIndex(start=0, stop=260, step=1)

In [14]:
frame.columns # informacja o kolumnach DF

Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
       'TotalFat', 'Total Fat (% Daily Value)', 'Saturated Fat',
       'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
       'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
       'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
       'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
       'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
      dtype='object')

In [15]:
frame.values

In [16]:
frame.info() # funkcja zwraca komplet informacji o DF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Category                       260 non-null    object
 1   Item                           260 non-null    object
 2   Serving Size                   260 non-null    object
 3   Calories                       260 non-null    int64
 4   Calories from Fat              260 non-null    int64
 5   TotalFat                       260 non-null    float64
 6   Total Fat (% Daily Value)      260 non-null    int64
 7   Saturated Fat                  260 non-null    float64
 8   Saturated Fat (% Daily Value)  260 non-null    int64
 9   Trans Fat                      260 non-null    float64
 10  Cholesterol                    260 non-null    int64
 11  Cholesterol (% Daily Value)    260 non-null    int64
 12  Sodium                         260 non-null    int64
 13  Sodium (% Daily Value)         260 non-null    int64
 14  Carbohydrates                  260 non-null    int64
 15  Carbohydrates (% Daily Value)  260 non-null    int64
 16  Dietary Fiber                  260 non-null    int64
 17  Dietary Fiber (% Daily Value)  260 non-null    int64
 18  Sugars                         260 non-null    int64
 19  Protein                        260 non-null    int64
 20  Vitamin A (% Daily Value)      260 non-null    int64
 21  Vitamin C (% Daily Value)      260 non-null    int64
 22  Calcium (% Daily Value)        260 non-null    int64
 23  Iron (% Daily Value)           260 non-null    int64
dtypes: float64(3), int64(18), object(3)
memory usage: 48.9+ KB

In [17]:
series.value_counts()

In [18]:
frame["Category"].value_counts()
# value.counts działa dla serii danych

In [19]:
series.sample()

In [20]:
frame.sample(n=3, axis="columns").head()
# n-liczba losowanych wartości
# axis="columns" - losujemy n-kolumn

,Sugars,Saturated Fat,Iron (% Daily Value)
0,3,5.0,15
1,3,3.0,8
2,2,8.0,10
3,2,10.0,15
4,2,8.0,10

In [21]:
frame.sample(frac=0.03) 
# losujemy 3% wartości DF

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
48,Beef & Pork,Hamburger,3.5 oz (98 g),240,70,8.0,12,3.0,15,0.0,...,32,11,1,6,6,12,2,2,10,15
245,Smoothies & Shakes,Strawberry Shake (Medium),16 fl oz cup,690,180,20.0,30,13.0,63,1.0,...,114,38,0,0,100,15,25,0,50,0
23,Breakfast,"Sausage, Egg & Cheese McGriddles with Egg Whites",7.2 oz (205 g),500,230,26.0,40,10.0,52,0.0,...,46,15,2,9,15,21,2,0,20,10
226,Coffee & Tea,Frappé Caramel (Small),12 fl oz cup,450,170,19.0,29,12.0,60,1.0,...,64,21,0,0,57,7,15,0,25,2
187,Coffee & Tea,Nonfat Caramel Mocha (Small),12 fl oz cup,250,30,3.5,5,2.0,10,0.0,...,45,15,1,3,41,10,10,0,35,2
9,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (L...",5.9 oz (167 g),470,220,25.0,38,12.0,59,0.0,...,42,14,3,12,4,20,6,8,15,15
129,Beverages,Sprite (Child),12 fl oz cup,100,0,0.0,0,0.0,0,0.0,...,27,9,0,0,27,0,0,0,0,0
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990,410,46.0,70,16.0,78,0.0,...,110,37,6,23,17,35,0,2,25,30

# Zadanie

In [22]:
fuel = pd.read_csv('http://piotrdomagala.pl/data/fuel.csv', low_memory=False, usecols=['Vehicle ID', 'Year','Make','Model','Class','Fuel Type', 'Combined MPG (FT1)'], index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [23]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.7+ MB

In [24]:
fuel.dtypes

In [25]:
fuel.dtypes.value_counts()

In [26]:
fuel['Make'].sample(n=10)

In [27]:
fuel["Make"].value_counts().head(10)

In [28]:
fuel.index

Int64Index([26587, 27705, 26561, 27681, 27550, 28426, 27549, 28425, 27593,
            28455,
            ...
            31673, 32062, 32059, 32061, 32058, 32060, 32063, 32065, 32064,
            32106],
           dtype='int64', name='Vehicle ID', length=31684)

In [29]:
fuel.values

In [30]:
fuel.axes

[Int64Index([26587, 27705, 26561, 27681, 27550, 28426, 27549, 28425, 27593,
             28455,
             ...
             31673, 32062, 32059, 32061, 32058, 32060, 32063, 32065, 32064,
             32106],
            dtype='int64', name='Vehicle ID', length=31684),
 Index(['Year', 'Make', 'Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], dtype='object')]

In [31]:
fuel.shape

(31684, 6)

In [32]:
fuel.count()

In [33]:
len(fuel)

31684