# Wstęp

In [1]:
import pandas as pd

In [4]:
frame = pd.read_csv('http://piotrdomagala.pl/data/Mcdonalds.csv')

In [3]:
series = pd.read_csv('http://piotrdomagala.pl/data/Mcdonalds.csv', usecols=['Item', 'Calories'], index_col='Item').squeeze()

In [7]:
type(frame)

pandas.core.frame.DataFrame

In [8]:
type(series)

pandas.core.series.Series

In [9]:
type(frame.Calories)

pandas.core.series.Series

In [10]:
frame.Calories.mean()

368.2692307692308

In [11]:
frame.Calories.median()

340.0

In [12]:
frame.Calories.max()

1880

In [13]:
frame.Calories.idxmax()

82

In [14]:
frame.Item[82]

'Chicken McNuggets (40 piece)'

In [15]:
frame.Item[frame.Calories.idxmax()]

'Chicken McNuggets (40 piece)'

In [16]:
frame['Calories'].head()

In [17]:
s = frame['Item']

In [18]:
type(s)

pandas.core.series.Series

In [19]:
s.loc[242]

'Vanilla Shake (Medium)'

In [20]:
frame['Item'][242]

'Vanilla Shake (Medium)'

In [23]:
frame.loc[242].loc["Item"]

'Vanilla Shake (Medium)'

In [24]:
frame.loc[242,'Item']

'Vanilla Shake (Medium)'

In [27]:
frame[['Item','Calories','TotalFat','Sugars']].head()

,Item,Calories,TotalFat,Sugars
0,Egg McMuffin,300,13.0,3
1,Egg White Delight,250,8.0,3
2,Sausage McMuffin,370,23.0,2
3,Sausage McMuffin with Egg,450,28.0,2
4,Sausage McMuffin with Egg Whites,400,23.0,2

# Zadanie

In [28]:
fuel = pd.read_csv('http://piotrdomagala.pl/data/fuel.csv', low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], index_col='Vehicle ID')

In [29]:
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [30]:
fuel.Make.head()

In [33]:
fuel.Make.value_counts().head(5)
# fuel['Make'].value_counts().head()

In [34]:
fuel.loc[1873]

In [35]:
fuel.loc[1873,'Combined MPG (FT1)']

19.0

In [48]:
mpg = fuel['Combined MPG (FT1)']
mpg.max()

# fuel["Combined MPG (FT1)"].max()

112.0

In [45]:
fuel.loc[mpg.idxmax()]
#fuel["Combined MPG (FT1)"].idxmax()

In [46]:
shortFuel = fuel[['Make','Model']]

In [47]:
shortFuel.head()

,Make,Model
Vehicle ID,,
26587,Alfa Romeo,GT V6 2.5
27705,Alfa Romeo,GT V6 2.5
26561,Alfa Romeo,Spider Veloce 2000
27681,Alfa Romeo,Spider Veloce 2000
27550,AM General,DJ Po Vehicle 2WD