# Wstęp

In [1]:
import pandas as pd
import numpy as np

frame = pd.read_csv('http://piotrdomagala.pl/data/Mcdonalds.csv', 
                    usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])

In [2]:
frame['Calories'].rank().head()

In [3]:
frame['CaloriesRank'] = frame['Calories'].rank()
frame.head()

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0,115.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0,82.5
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0,146.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0,178.5
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0,156.0

In [4]:
frame.sort_values(by='Calories').head(20)

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
125,Beverages,Diet Dr Pepper (Child),12 fl oz cup,0,0.0,8.5
138,Coffee & Tea,Iced Tea (Medium),21 fl oz cup,0,0.0,8.5
137,Coffee & Tea,Iced Tea (Small),16 fl oz cup,0,0.0,8.5
136,Beverages,Dasani Water Bottle,16.9 fl oz,0,0.0,8.5
145,Coffee & Tea,Coffee (Small),12 fl oz cup,0,0.0,8.5
147,Coffee & Tea,Coffee (Large),16 fl oz cup,0,0.0,8.5
124,Beverages,Diet Dr Pepper (Large),30 fl oz cup,0,0.0,8.5
139,Coffee & Tea,Iced Tea (Large),30 fl oz cup,0,0.0,8.5
122,Beverages,Diet Dr Pepper (Small),16 fl oz cup,0,0.0,8.5
123,Beverages,Diet Dr Pepper (Medium),21 fl oz cup,0,0.0,8.5
117,Beverages,Diet Coke (Child),12 fl oz cup,0,0.0,8.5
116,Beverages,Diet Coke (Large),30 fl oz cup,0,0.0,8.5
115,Beverages,Diet Coke (Medium),21 fl oz cup,0,0.0,8.5
114,Beverages,Diet Coke (Small),16 fl oz cup,0,0.0,8.5
146,Coffee & Tea,Coffee (Medium),16 fl oz cup,0,0.0,8.5
140,Coffee & Tea,Iced Tea (Child),12 fl oz cup,0,0.0,8.5
101,Snacks & Sides,Apple Slices,1.2 oz (34 g),15,0.0,17.0
100,Snacks & Sides,Side Salad,3.1 oz (87 g),20,0.0,18.0
106,Desserts,Kids Ice Cream Cone,1 oz (29 g),45,1.5,19.0
132,Beverages,Minute Maid 100% Apple Juice Box,6 fl oz (177 ml),80,0.0,20.5

In [5]:
frame['CaloriesRank'] = frame['Calories'].rank(ascending=False)
frame.head()

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0,146.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0,178.5
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0,115.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0,82.5
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0,105.0

In [6]:
frame.sort_values(by='Calories', ascending=False).head(20)

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0,1.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0,2.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0,3.0
34,Breakfast,Big Breakfast with Hotcakes and Egg Whites (La...,15.4 oz (437 g),1050,50.0,4.0
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990,46.0,5.0
81,Chicken & Fish,Chicken McNuggets (20 piece),11.4 oz (323 g),940,59.0,6.0
253,Smoothies & Shakes,McFlurry with M&M’s Candies (Medium),16.2 oz (460 g),930,33.0,7.0
249,Smoothies & Shakes,Chocolate Shake (Large),22 fl oz cup,850,23.0,8.5
246,Smoothies & Shakes,Strawberry Shake (Large),22 fl oz cup,850,24.0,8.5
251,Smoothies & Shakes,Shamrock Shake (Large),22 fl oz cup,820,23.0,10.5
243,Smoothies & Shakes,Vanilla Shake (Large),22 fl oz cup,820,23.0,10.5
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),14.2 oz (403 g),810,32.0,12.0
28,Breakfast,Big Breakfast (Large Biscuit),10 oz (283 g),800,52.0,13.0
231,Coffee & Tea,Frappé Chocolate Chip (Large),22 fl oz cup,760,31.0,14.0
47,Beef & Pork,Double Quarter Pounder with Cheese,10 oz (283 g),750,43.0,15.5
63,Chicken & Fish,Bacon Clubhouse Crispy Chicken Sandwich,10 oz (284 g),750,38.0,15.5
27,Breakfast,Big Breakfast (Regular Biscuit),9.5 oz (269 g),740,48.0,17.0
51,Beef & Pork,Bacon Clubhouse Burger,9.5 oz (270 g),720,40.0,18.0
248,Smoothies & Shakes,Chocolate Shake (Medium),16 fl oz cup,700,20.0,19.0
30,Breakfast,Big Breakfast with Egg Whites (Large Biscuit),10.1 oz (286 g),690,41.0,21.0

In [7]:
frame.sort_values(by='Calories', ascending=False, inplace=True)
frame.head(3)

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0,1.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0,2.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0,3.0

In [8]:
frame.nlargest(n=3, columns='Calories')

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0,1.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0,2.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0,3.0

In [9]:
frame.tail(3)

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
115,Beverages,Diet Coke (Medium),21 fl oz cup,0,0.0,252.5
114,Beverages,Diet Coke (Small),16 fl oz cup,0,0.0,252.5
146,Coffee & Tea,Coffee (Medium),16 fl oz cup,0,0.0,252.5

In [10]:
frame.nsmallest(n=3, columns='Calories')

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
145,Coffee & Tea,Coffee (Small),12 fl oz cup,0,0.0,252.5
140,Coffee & Tea,Iced Tea (Child),12 fl oz cup,0,0.0,252.5
139,Coffee & Tea,Iced Tea (Large),30 fl oz cup,0,0.0,252.5

# Zadanie

In [11]:
import pandas as pd, numpy as np

In [14]:
fortune = pd.read_csv('http://piotrdomagala.pl/data/Fortune_500_2017.csv', 
                   usecols=['Rank','Title','Employees','Profits','Assets'],
                   index_col='Rank'
                   )

In [15]:
fortune.head()

,Title,Employees,Profits,Assets
Rank,,,,
1,Walmart,2300000,13643.0,198825
2,Berkshire Hathaway,367700,24074.0,620854
3,Apple,116000,45687.0,321686
4,Exxon Mobil,72700,7840.0,330314
5,McKesson,68000,2258.0,56563

In [22]:
fortune.sort_values(by='Employees', ascending=False)

,Title,Employees,Profits,Assets,EmployeesRank,RankByEmployee
Rank,,,,,,
1,Walmart,2300000,13643.0,198825,1.0,1.0
18,Kroger,443000,1975.0,36505,2.0,2.0
399,Yum China Holdings,420000,502.0,3727,3.0,3.0
32,IBM,414400,11872.0,117470,4.0,4.0
23,Home Depot,406000,7957.0,42966,5.0,5.0
...,...,...,...,...,...,...
334,Global Partners,1770,-199.4,2564,496.0,496.0
189,INTL FCStone,1464,54.7,5951,497.0,497.0
480,Delek US Holdings,1326,-153.7,2985,498.0,498.0
472,Host Hotels & Resorts,220,762.0,11408,499.0,499.0
395,A-Mark Precious Metals,83,9.3,437,500.0,500.0

In [23]:
fortune['RankByProfits'] = fortune['Profits'].rank(ascending=False)
fortune.head()

,Title,Employees,Profits,Assets,EmployeesRank,RankByEmployee,RankByProfits
Rank,,,,,,,
1,Walmart,2300000,13643.0,198825,1.0,1.0,11.0
2,Berkshire Hathaway,367700,24074.0,620854,7.0,7.0,3.0
3,Apple,116000,45687.0,321686,57.0,57.0,1.0
4,Exxon Mobil,72700,7840.0,330314,94.0,94.0,27.0
5,McKesson,68000,2258.0,56563,104.5,104.5,102.0

In [24]:
fortune.nlargest(n=3, columns='Assets')

,Title,Employees,Profits,Assets,EmployeesRank,RankByEmployee,RankByProfits
Rank,,,,,,,
20,Fannie Mae,7000,12313.0,3287968,446.5,446.5,15.0
21,J.P. Morgan Chase,243355,24733.0,2490972,20.0,20.0,2.0
26,Bank of America Corp.,208024,17906.0,2187702,29.0,29.0,6.0

In [25]:
fortune.nsmallest(n=3, columns='Assets')

,Title,Employees,Profits,Assets,EmployeesRank,RankByEmployee,RankByProfits
Rank,,,,,,,
395,A-Mark Precious Metals,83,9.3,437,500.0,500.0,434.0
247,Core-Mark Holding,7688,54.2,1497,434.0,434.0,430.0
495,Big Lots,23150,152.8,1608,266.0,266.0,403.0